img {
    height: 250px;
    width: 250px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #EEEEEE;
}

.flex-container {
    margin-top: 100px;
    background-color: white;
    box-shadow: grey;
    padding: 10px;
    width: 1000px;
    border-radius: 10px;
}

h1 {
    width: 500px;
    display: block;
}

h2{
    color: #4CC9FE;
}

.skill{
    display: grid;
    row-gap: 10px;
    color: white;
}

div.skill1, div.skill2, div.skill3 {
    background-color: #4CC9FE;
    border-radius: 10px;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    .flex-container {
        width: 100%;
        margin-top: 50px;
        padding: 20px;
    }

    h1 {
        width: 100%;
        text-align: center;
    }

    h2 {
        width: 100%;
        text-align: center;
    }

    div.skill1, div.skill2, div.skill3 {
    width: 100%;
    text-align: center;
    }
}